body,
html {
  height: 100%;
}
body {
  color: #333;
  font: 4px/1.14 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
body,
ul,
li,
i {
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbf8f8;
}
@media (max-width: 1024px) and (min-width: 768px) {
  /*横屏的平板*/
  body {
    width: 1200px;
  }
}
a {
  color: #fff;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -ms-transition: color .5s;
  transition: color 0.5s;
}
.h1.fancy,
.h2.fancy,
.h3.fancy,
.h4.fancy,
.h5.fancy,
.h6.fancy,
h1.fancy,
h2.fancy,
h3.fancy,
h4.fancy,
h5.fancy,
h6.fancy {
  font-family: dancing_scriptbold, Verdana, sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: latobold, Verdana, sans-serif;
  line-height: 1.1;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  /*margin:0 0 20px*/
  font-weight: 600;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin: 0 0 10px;
}
ol,
p,
ul {
  margin: 0 0 1.5em;
}
.h1,
h1 {
  font-size: 3.8em;
}
.h2,
h2 {
  font-size: 3em;
}
ol,
ul {
  padding: 0;
  list-style-type: none;
}
.list-style {
  padding-left: 1.5em;
}
.list-style.list-disc {
  list-style-type: disc;
}
.list-style.list-circle {
  list-style-type: circle;
}
.list-style.list-square {
  list-style-type: square;
}
.list-style.list-decimal {
  list-style-type: decimal;
}
.list-style.list-lower-alpha {
  list-style-type: lower-alpha;
}
/*头部*/
/*navbar navbar-default navbar-transparent navbar-fixed-top fixed-animated*/
#header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
#header .navbar {
  font: 16px/1.5 latoregular, Verdana, sans-serif;
  border: 0;
  margin: 0;
  z-index: 999;
  padding: 2.5px 0;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}
#header .navbar .container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
#header .navbar .container .navbar-header {
  position: relative;
}
#header .navbar .container .navbar-header .navbar-brand {
  padding: 5px 0;
  height: 65px;
  font-size: 40px;
  line-height: 29px;
  font-family: latobold, sans-serif;
}
#header .navbar .container .navbar-header .navbar-brand img {
  margin-top: 8px;
}
#header .navbar .container .navbar-header .navbar-brand .img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#header .navbar .container #main-menu {
  margin-left: 0;
}
#header .navbar .container #main-menu ul #position {
  margin-right: 50px;
}
#header .navbar .container #main-menu .nav > li {
  margin: 0;
}
#header .navbar .container #main-menu .nav > a {
  padding: 10px 15px;
}
#header .navbar .container #main-menu .navbar-nav > .active > a {
  color: #e94840;
  background-color: #fff;
}
#header .navbar .container #main-menu .navbar-nav li a {
  outline: none;
}
#header .navbar .container #main-menu .navbar-nav li a:hover {
  color: #e94840;
}
#header .navbar .container #main-menu .navbar-nav > li:last-child {
  margin-right: 0;
}
#header .navbar .container #main-menu .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
#header .navbar-default {
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.96);
}
#header .navbar-default .navbar-header navbar-brand:focus {
  color: #16c480;
}
#header .navbar-default .navbar-header navbar-brand :hover {
  color: #16c480;
}
#header .navbar-default .navbar-collapse {
  border-color: #e7e7e7;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
#header .navbar-default .navbar-collapse .navbar-nav > li > a {
  color: #121212;
  font-weight: bold;
}
#header .navbar-transparent .navbar-brand {
  padding: 11px 0;
}
#header .navbar-transparent .navbar-brand .logo-white {
  display: none;
}
#header .navbar-transparent .navbar-brand .logo-fixed {
  display: block;
}
/*轮播*/
#carousel-example-generic {
  margin-bottom: 0px;
}
#carousel-example-generic .full_banner {
  width: 100%;
  position: relative;
  height: 420px;
  background: #FFF;
  overflow: hidden;
}
#carousel-example-generic .full_banner .bd {
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#carousel-example-generic .full_banner .bd ul {
  width: 100% !important;
}
#carousel-example-generic .full_banner .bd ul li {
  width: 100% !important;
  float: left;
  height: 420px;
  overflow: hidden;
  text-align: center;
}
#carousel-example-generic .full_banner .hd {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#carousel-example-generic .full_banner .hd ul {
  text-align: center;
  padding-top: 5px;
}
#carousel-example-generic .full_banner .hd ul li {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 10px;
  height: 10px;
  margin: 5px;
  overflow: hidden;
  line-height: 9999px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
#carousel-example-generic .full_banner .hd ul li.on {
  background-position: 0px 0px;
  background-color: #ffffff;
  border-radius: 100%;
}
#carousel-example-generic .banner-nav {
  width: 200px;
  position: relative;
  bottom: 422px;
  margin: 0 auto;
  z-index: 998;
}
#carousel-example-generic .banner-nav ul {
  width: 180px;
  background-color: #757881;
  height: 420px;
  margin: 2px;
}
#carousel-example-generic .banner-nav ul li {
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  padding-left: 45px;
}
#carousel-example-generic .banner-nav ul li i {
  display: inline-block;
  width: 70px;
  text-align: justify;
  text-align-last: justify;
}
#carousel-example-generic .banner-nav ul li img {
  position: absolute;
  right: 35px;
  top: 20px;
}
#carousel-example-generic .banner-nav ul li img.act {
  position: absolute;
  left: 174px;
  top: 16px;
  z-index: 100;
}
#carousel-example-generic .banner-nav ul li ul {
  position: absolute;
  left: 180px;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 160px;
  margin-top: 0;
}
#carousel-example-generic .banner-nav ul li ul li a {
  color: #121212;
}
#carousel-example-generic .banner-nav ul li ul li a:hover {
  color: #e94840;
}
/*家庭保洁*/
.box1 {
  width: 100%;
  padding-bottom: 20px;
}
.box1:nth-child(odd) {
  background: #fff;
}
.box1 .fff {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0;
  clear: both;
}
.box1 .fff .servicecbody .navigation {
  text-align: center;
}
.box1 .fff .servicecbody .navigation span {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "幼圆";
}
.box1 .fff .servicecbody .navigation .serviceIndex {
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
  font-family: "Microsoft YaHei";
}
.box1 .fff .servicecbody .navigation .serviceIndex a {
  color: #121212;
}
.box1 .fff .servicecbody .navigation .serviceType {
  font-size: 22px;
  color: #3d3838;
  margin-top: 15px;
}
.box1 .fff .servicecbody .navigation .serviceType a {
  color: #3d3838;
}
.box1 .fff .servicecbody .navigation .serviceType a:hover {
  color: #fb474f;
}
.box1 .fff .servicetags .tagsListHeader {
  text-align: right;
}
.box1 .fff .servicetags .tagsListHeader .lookMore {
  position: relative;
  bottom: 22px;
}
.box1 .fff .servicetags .tagsListHeader .lookMore a {
  color: #898989;
  font-size: 18px;
  font-family: "幼圆";
}
.box1 .fff .servicetags .tagsListHeader .lookMore a:hover {
  color: #fb474f;
}
.box1 .fff .servicetags .row {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder {
  float: left;
  padding: 10px;
  width: 230px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  height: 345px;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder:hover {
  box-shadow: 5px 5px 15px #ccc;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder .price {
  font-size: 14px;
  padding: 5px 5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder .price .btn {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background-color: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder .description {
  color: #929292;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  work-break: break-all;
  font-size: 13px;
  line-height: 18px;
  height: 58px;
}
.box1 .fff .servicetags .row .shopList .ServiceBorder .serviceName {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 800;
  color: #000;
  height: 28px;
  overflow: hidden;
  width: 101%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*服务商*/
